body{
	background-color: #ee3f54;
	
}
h1,h2,h3,h4,h5,h6,button{
	font-family: 'Bree Serif', serif;
}
#social-container{
	background-color: #1c3643;
	font-size: 26px;
}

#logo-container .callout{
	background-color: #ee3f54;
	color: white;
	margin-bottom: 0;
	border-radius:0;
}
#menu-container{
  background-color: #38a19d;
}
#menu-container li a{
	color: white;
	font-family: 'Bree Serif', serif;
}
#menu-container li a:hover,
#submenu-container li a:hover{
	color: #f6ef15;
}
#submenu-container{
	border:0;
}
#submenu-container li a{
	background-color: #38a19d;
	color:white;
}

#tickets-action .callout {
	background-color: #5e7eb7;
	color: white;
	border-radius:0;
	margin-bottom: 0;
}
#tickets-action .callout button{
	color:white;
	border:1px solid white;
}
#lineup-container,
#lineup-container .tabs,
#lineup-container .tabs .tabs-title{
	background-color: #9676af;
	color:white;
	padding:1em 0;
	border:0;
	font-family: 'Bree Serif', serif;
}
#lineup-container .tabs .tabs-title a{
	font-size: 18px;
	color:#a7fffb;
	text-transform: uppercase;
}
#lineup-container .tabs .tabs-title a:hover{
	color:white;
	background-color: #9676af;

}
.tabs-title > a:focus, .tabs-title > a[aria-selected='true']{
	background-color: #9676AF;
}
.tabs-title {
  display: inline-block;
  float: none;
}
.tabs-content {
	background-color: #9676af;
	border:0;
	color:white;
}

#lineup-container .orbit-container {
	margin-bottom: 1em;
}
#lineup-container .column:nth-child(odd) figcaption {
	text-align: right;
}

